# Firebase configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_VAPID_KEY=

# Firebase Admin configuration (Backend only)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Agora configuration
VITE_AGORA_APP_ID=
